node_modules
.next
dist
.env
.env*.local
*.log
*.tsbuildinfo
.system_generated
.gemini
package-lock.json
.wrangler
.wrangler/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
